.page {
  width: 100%;
  height: 100%;
  background-position: center;
  background-color: rgb(204, 255, 255);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
}

.hadd {
  color: rgb(61, 161, 255);
}

.form-box-addorder {
  background-color: white;
  width: 750px;
  height: 670px;
  position: absolute;
  padding: 20px 40px 20px 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  text-align: center;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border: 2px solid rgb(61, 161, 255);
}
.pwarning-order {
  text-align: left;
  font-size: 10px;
  color: red;
  margin-left: 100px;
}

.form-box-addorder input[type="text"],
select {
  margin: 0px 10px 2px 40px;
  padding: 10px 10px;
  width: 500px;
  height: 40px;
  background: none;
  border: 2px solid rgb(61, 161, 255);
  border-radius: 15px;
  transition: 0.8s;
}

.form-box-addorder input[type="text"]:focus,
select:focus {
  width: 530px;
}

.add-btn {
  background: none;
  border: 2px solid rgb(61, 161, 255);
  color: rgb(61, 161, 255);
  font-size: 16px;
  padding: 8px 8px;
  width: 100px;
  margin: 10px 10px;
  border-radius: 15px;
  transition: 0.6s;
}
.add-btn:hover {
  background-color: rgb(61, 161, 255);
  color: white;
}

/* info tips*/
.info-tips {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  width: 15px;
  height: 15px;
}

.info-tips .extra-info {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.3s;
}

.info-tips .extra-info::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.info-tips:hover .extra-info {
  visibility: visible;
  opacity: 1;
}

/* navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container-addorder nav ul li a {
  color: rgb(255, 255, 255);
  font-size: 17px;
}

.container-addorder nav ul li a:hover {
  color: rgba(245, 245, 245, 0.842);
}

.container-addorder {
  text-align: center;
  padding: 0;
}

.logo {
  text-align: center;
  margin: auto 100px;
  padding: 0;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.hide-mobile {
  display: none;
  color: rgb(255, 255, 255);
}

.menu {
  margin: 1em 1em;
  width: 35px;
  height: 35px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(61, 161, 255);
  height: 71px;
}
nav ul {
  position: fixed;
  width: 50%;
  top: 0;
  right: 0;
  text-align: left;
  background: rgb(219, 210, 219);
  height: 100%;
  z-index: 7;
  padding-top: 3em;
  opacity: 0.9;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1.2em 2em;
  background-color: rgb(180, 170, 180);
}

nav ul li a:hover {
  background-color: rgb(130, 120, 130);
}

.exit-btn {
  margin-bottom: 2em;
  margin-top: -1.3em;
  text-align: left;
  padding: 1em 1em;
}

.exit-btn img {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  nav ul {
    position: fixed;
    width: 40%;
  }
}
@media only screen and (min-width: 850px) {
  nav ul {
    position: fixed;
    width: 30%;
  }
}

@media only screen and (min-width: 1024px) {
  .show-dekstop {
    display: block;
    margin: 0 auto 13% auto;
  }

  .hide-dekstop {
    display: none;
  }

  nav ul {
    position: block;
    width: auto;
    background: none;
    height: auto;
    display: flex;
    padding-top: 0.5em;
  }

  nav ul li {
    float: left;
  }

  nav ul li a {
    color: black;
    background-color: inherit;
  }

  nav ul li a:hover {
    background-color: inherit;
  }
}
