.select-box{
    display: flex;
    width: 530px;
    flex-direction: column;
}
.select-box .options-container{
    background: rgb(204, 255, 255);
    color: black;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 15px;
    overflow: hidden;
    border: 15px;
    border: 2px solid rgb(61, 161, 255);

    order: 1;
}

.selected{
    background: violet;
    border-radius: 15px;
    margin-bottom: 15px;
    color: tomato;
    position: relative;

    order: 0;
}

.selected::after{
    content: "";
    background: url("images/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
}

.select-box .options-container.active{
    max-height: 120px;
    opacity: 1;
    overflow-y: scroll;
}
.select-box .options-container.active + .selected::after{
    transform: rotateY();
}

.select-box .options-container::-webkit-scrollbar{
    width: 8px;
    background:rgb(61, 74, 255);
    border-radius: 0 15px 15px 0;
}
.select-box .options-container::-webkit-scrollbar-thumb{
    background:rgb(118, 156, 13);
    border-radius: 0 15px 15px 0;
}

.select-box .option, .selected{
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover{
    background: green;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio{
    display: none;
}
