* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.hero {
  width: 100%;
  height: 100%;
  background-position: center;
  position: absolute;
  background-color: rgb(204, 255, 255);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.form-box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 10% auto;
  background-color: white;
  padding: 5px;
  border-radius: 0px 40px 0px 40px;
}

.input-group-change {
  top: 200px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-field-change {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
  transition: 0.8s;
}

.input-field-change:focus {
  border-width: 2px;
}

.submit-btn-changepassword {
  width: 80%;
  padding: 10px 10px;
  cursor: pointer;
  display: block;
  margin-top: 45px;
  background: linear-gradient(to right, rgb(0, 183, 255), rgb(0, 255, 221));
  border: 0;
  outline: none;
  border-radius: 30px;
}

.form-a {
  text-decoration: none;
  font-size: 15px;
  color: #7f2092;
  display: block;
  margin: 30px 50px 35px 85px;
}
#change {
  left: 50px;
}

.h1-changepassword {
  font-size: 150%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px;
}
