* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.hero {
  width: 100%;
  height: 100%;
  background-position: center;
  position: absolute;
  background-color: rgb(204, 255, 255);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.form-box-fpass {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 10% auto;
  background-color: white;
  padding: 5px;
  border-radius: 0px 40px 0px 40px;
}
.button-box-fpass {
  width: 200px;
  height: 40px;
  margin: 50px auto;
  box-shadow: 0 0 15px 5px rgb(123, 232, 252);
  border-radius: 30px;
  position: relative;
  display: flex;
}
.toggle-btn-fpass {
  width: 100px;
  padding: 10px 20px 8px 20px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
#btnForgot {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 40px;
  background: linear-gradient(to right, rgb(0, 183, 255), rgb(0, 255, 221));
  border-radius: 30px;
  transition: 0.5s;
}
.input-group-forgot {
  top: 300px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-field-forgot {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
  transition: 0.8s;
}

.input-field-forgot:focus {
  border-width: 2px;
}

.submit-btn-fpass {
  width: 80%;
  padding: 10px 10px;
  cursor: pointer;
  display: block;
  margin-top: 45px;
  background: linear-gradient(to right, rgb(0, 183, 255), rgb(0, 255, 221));
  border: 0;
  outline: none;
  border-radius: 30px;
}

.form-a {
  text-decoration: none;
  font-size: 15px;
  color: #7f2092;
  display: block;
  margin: 30px 50px 35px 85px;
}
#login {
  left: 50px;
}
.check-box {
  margin: 30px 10px 0px 0px;
}
.span {
  color: #777;
  font-size: 12px;
  position: absolute;
}
.hforgot {
  font-size: 150%;
  text-align: center;
  margin-bottom: 20px;
}
.p1 {
  font-size: 100%;
  text-align: center;
  padding: 20px;
}
.pwarning {
  text-align: left;
  font-size: 10px;
  color: red;
}
