* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.pindex {
  font-size: 0.9em;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container-main nav ul li a {
  color: white;
  font-size: 17px;
}

.container-main nav ul li a:hover {
  color: rgba(245, 245, 245, 0.842);
}

.container-main {
  text-align: center;
  padding: 0;
}

.logo {
  text-align: center;
  margin: auto 100px;
  padding: 0;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.hide-mobile {
  display: none;
  color: rgb(255, 255, 255);
}

.menu {
  margin: 1em 1em;
  width: 35px;
  height: 35px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(61, 161, 255);
  height: 71px;
}

.server {
  width: 60%;
  height: 60%;
}

.h1index {
  position: relative;
  z-index: 3;
  text-shadow: 2px 2px;
}
.blue-container {
  width: 100%;
  background-color: rgb(61, 161, 255);
  color: black;
  margin: 15% 0 0;
  padding: 4em 0 2em;
  border-top-left-radius: 40px;

  transform: skewY(-2deg);
}

.blue-container:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: rgb(61, 161, 255);
  position: absolute;
  top: -39px;
  right: 0;
  z-index: -2;
}

.blue-container:after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: white;
  top: -80px;
  position: absolute;
  right: 0;
  border-radius: 50%;
  z-index: -1;
}

.blue-container ul {
  transform: skewY(2deg);
}

.blue-container ul li {
  margin-bottom: 3em;
}

.blue-container ul li p {
  padding: 1em;
}

.blue-container ul li:nth-child(1) img {
  width: 30%;
}

.blue-container ul li:nth-child(2) img {
  width: 30%;
}

.blue-container ul li:nth-child(3) img {
  width: 25%;
}

.container-main nav ul {
  position: fixed;
  width: 50%;
  top: 0;
  right: 0;
  text-align: left;
  background: rgb(219, 210, 219);
  height: 100%;
  z-index: 7;
  padding-top: 3em;
  opacity: 0.9;
}

.container-main nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1.2em 2em;
  background-color: rgb(180, 170, 180);
}

.container-main nav ul li a:hover {
  background-color: rgb(130, 120, 130);
}

.exit-btn {
  margin-bottom: 2em;
  margin-top: -1.3em;
  text-align: left;
  padding: 1em 1em;
}

.exit-btn img {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .server {
    width: 40%;
    height: 40%;
  }
  .h1index {
    font-size: 1.9em;
    margin: 0.8em;
  }

  .blue-container {
    margin-top: 2em;
  }

  .blue-container ul li:nth-child(1) img {
    width: 25%;
  }

  .blue-container ul li:nth-child(2) img {
    width: 29%;
  }

  .blue-container ul li:nth-child(3) img {
    width: 22%;
  }

  .blue-container ul {
    display: inline-flex;
    margin-top: -1em;
    align-items: center;
  }

  .blue-container ul li {
    margin-bottom: 0;
  }
  .container-main nav ul {
    position: fixed;
    width: 40%;
  }
}

@media only screen and (min-width: 850px) {
  .server {
    width: 35%;
    height: 35%;
  }
  .blue-container ul li:nth-child(1) img {
    width: 30%;
  }

  .blue-container ul li:nth-child(2) img {
    width: 34%;
  }

  .blue-container ul li:nth-child(3) img {
    width: 25%;
  }
  .h1index {
    font-size: 2.1em;
  }

  .container-main nav ul {
    position: fixed;
    width: 30%;
  }
}

@media only screen and (min-width: 1024px) {
  .server {
    width: 26%;
    height: 26%;
    animation: move 2s infinite alternate;
  }

  @keyframes move {
    0% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(100px);
    }
  }
  .blue-container ul li:nth-child(1) img {
    width: 35%;
  }

  .blue-container ul li:nth-child(2) img {
    width: 40%;
  }

  .blue-container ul li:nth-child(3) img {
    width: 31%;
  }

  .show-dekstop {
    display: block;
    margin: 0 auto 13% auto;
  }

  .hide-dekstop {
    display: none;
  }

  .container-main nav ul {
    position: block;
    width: auto;
    background: none;
    height: auto;
    display: flex;
    padding-top: 0.5em;
  }

  .container-main nav ul li {
    float: left;
  }

  .container-main nav ul li a {
    color: white;
    background-color: inherit;
  }

  .container-main nav ul li a:hover {
    background-color: inherit;
  }

  .h1index {
    font-size: 2.3em;
  }
}

@media only screen and (min-width: 1200px) {
  .server {
    width: 20%;
    height: 20%;
  }

  .h1index {
    font-size: 2.5em;
  }

  .blue-container ul li:nth-child(1) img {
    width: 40%;
  }

  .blue-container ul li:nth-child(2) img {
    width: 45%;
  }

  .blue-container ul li:nth-child(3) img {
    width: 34%;
  }
}

.body-main {
  padding-top: 100px;
}
