.navul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container-header {
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 71px;
}

.container-header .header .nav .navul .navli .nava {
  color: rgb(255, 255, 255);
  font-size: 17px;
}

.container-header .header .nav .navul .navli .nava:hover {
  color: rgba(245, 245, 245, 0.842);
}

.logo {
  display: flex;
  text-align: center;
  margin: 17px 100px;
  padding: 0;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.hide-mobile {
  display: none;
  color: rgb(255, 255, 255);
}

.menu {
  margin: 1em 1em;
  width: 35px;
  height: 35px;
}

.header {
  justify-content: space-between;
  background-color: rgb(61, 161, 255);
  height: 71px;
  width: 100%;
  position: absolute;
}

.nav .navul {
  position: sticky;
  width: 50%;
  top: 0;
  right: 0;
  text-align: left;
  background: rgb(219, 210, 219);
  height: 100%;
  z-index: 7;
  padding-top: 3em;
  opacity: 0.9;
}

.nav .navul .navli .nava {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1.2em 2em;
  background-color: rgb(180, 170, 180);
}

.nav .navul .navli .nava:hover {
  background-color: rgb(130, 120, 130);
}

.exit-btn {
  margin-bottom: 2em;
  margin-top: -1.3em;
  text-align: left;
  padding: 1em 1em;
}

.exit-btn img {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .nav .navul {
    position: fixed;
    width: 40%;
  }
}

@media only screen and (min-width: 850px) {
  .nav .navul {
    position: fixed;
    width: 30%;
  }
}

@media only screen and (min-width: 1024px) {
  .show-dekstop {
    display: block;
    margin: 0 auto 13% auto;
  }

  .hide-dekstop {
    display: none;
  }

  .nav .navul {
    position: sticky;
    width: auto;
    background: none;
    height: auto;
    display: flex;
    padding-top: 0.5em;
  }

  .nav .navul .navli {
    float: left;
  }

  .nav .navul .navli .nava {
    color: white;
    background-color: inherit;
  }

  .nav .navul .navli .nava:hover {
    background-color: inherit;
  }
}
.body-nav {
  margin: 0;
  display: table;
}
