.pageorderinfo {
  width: 100%;
  height: 100%;
  background-position: center;
  position: absolute;
  background-color: rgb(204, 255, 255);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  position: block;
}

.row-info {
  margin-bottom: 30px;
}
/* Clear floats after the columns */
.row-info:after {
  content: "";
  display: table;
  clear: both;
}

.info {
  display: flex;
  margin-top: 12px;
  margin: 0px 20px 7px 0px;
  padding: 10px 10px;
  width: 380px;
  height: 40px;
  background: none;
  border: 2px solid rgb(61, 161, 255);
  border-radius: 15px;
  transition: 0.8s;
  text-align: left;
  float: left;
  padding: auto 10px;
  margin-left: 5px;
  overflow-x: overlay;
  -webkit-overflow-scrolling: touch;
}
/* width */
.info::-webkit-scrollbar {
  height: 7px;
  background-color: white;
  border-radius: 30px;
}
.info::-webkit-scrollbar-thumb {
  height: 7px;
  background-color: rgb(61, 161, 255);
  border-radius: 30px;
}

.hinfo {
  color: rgb(61, 161, 255);
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-box-order-info {
  background-color: white;
  width: 900px;
  height: 670px;
  position: absolute;
  padding: 20px 40px 20px 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  text-align: center;
  border-radius: 30px;

  border: 2px solid rgb(61, 161, 255);
}

.back-btn {
  background: none;
  border: 2px solid rgb(61, 161, 255);
  color: rgb(61, 161, 255);
  font-size: 16px;
  padding: 8px 8px;
  width: 100px;
  margin: 10px 10px;
  border-radius: 15px;
  transition: 0.6s;
}

.back-btn:hover {
  background-color: rgb(61, 161, 255);
  color: white;
}
