body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container-navbar nav ul li a{
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-decoration: none;
}

.container-navbar nav ul li a:hover{
    color: rgba(245, 245, 245, 0.842);
}

.container-navbar {
    text-align: center;
    padding: 0;
}

.logo {
    text-align: center;
    margin: auto 100px;
    padding: 0;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.hide-mobile {
    display: none;
    color: rgb(255, 255, 255);
}

.menu {
    margin: 1em 1em;
    width: 35px;
    height: 35px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(61, 161, 255);
    height: 71px;
}

nav ul {
    position: fixed;
    width: 50%;
    top: 0;
    right: 0;;
    text-align: left;
    background: rgb(219, 210, 219);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
    opacity: 0.9;
}

nav ul li a {
    color: rgb(255, 255, 255);;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1.2em 2em;
    background-color: rgb(180, 170, 180);
}

nav ul li a:hover {
    background-color: rgb(130, 120, 130);
}

.exit-btn {
    margin-bottom: 2em;
    margin-top:  -1.3em;
    text-align: left;
    padding: 1em 1em;
}

.exit-btn img {
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    nav ul {
        position: fixed;
        width: 40%;
    }
}

@media only screen and (min-width: 850px) {
    nav ul {
        position: fixed;
        width: 30%;
    }

}

@media only screen and (min-width: 1024px) {

    .show-dekstop {
        display: block;
        margin: 0 auto 13% auto;
    }

    .hide-dekstop {
        display: none;
    }

    nav ul {
        position: block;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0.5em;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        color: black;
        background-color: inherit;
        
    }

    nav ul li a:hover {
        background-color: inherit;
    }
}