body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.logo {
    width: 53px;
    height: 50px;
}

.hide-mobile {
    display: none;
}

.menu {
    margin: 1em 1em;
    width: 35px;
    height: 35px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: cyan;
    height: 71px;
}

nav ul {
    position: fixed;
    width: 55%;
    top: 0;
    right: 0;;
    text-align: left;
    background: rgb(219, 210, 219);
    height: 100%;
    z-index: 7;
    padding-top: 3em;
}

nav ul li a {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1.2em 2em;
    background-color: rgb(180, 170, 180);
}

nav ul li a:hover {
    background-color: rgb(130, 120, 130);
}

.exit-btn {
    margin-bottom: 2em;
    margin-top:  -1.3em;
    text-align: left;
    padding: 1em 1em;
}

.exit-btn img {
    cursor: pointer;
}


.orders-table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.5em;
    min-width:1200px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    border-left: 40px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0,0,0,0);
}

.orders-table thead tr {
    background-color: rgb(40, 125, 237);
    color: white;
    text-align: left;
    font-weight: bold;
    
}

.orders-table th {
    padding: 12px, 15px;
    size: 5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.orders-table td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.orders-table tbody tr {
    border-bottom: 1px solid grey;
}

.orders-table tbody tr:nth-last-of-type(even) {
    background-color: lightgrey;
}

.orders-table tbody tr:last-of-type {
    border-bottom: 2px solid lightskyblue;
}

.button1 {
    background-color: rgb(26, 29, 224);
    width: inherit;
    border-radius: 7px;
    padding: .4em;
    text-decoration: none;
    color:white;
}

.button2 {
    background-color: rgb(22, 175, 22);
    width: inherit;
    border-radius: 7px;
    padding: .4em;
    text-decoration: none;
    color:white;
}

.orders-table tfoot {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    background: rgb(40, 125, 237);
  }
.orders-table tfoot td {
    font-size: 16px;
  }
.orders-table tfoot .links {
    text-align: right;
    margin-right: 1em;
  }
.orders-table tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: rgb(40, 125, 237);
    padding: 2px 8px;
    border-radius: 5px;
    text-decoration: none;
  }

@media only screen and (min-width: 600px) {
    nav ul {
        position: fixed;
        width: 40%;
    }
}
@media only screen and (min-width: 850px) {
    nav ul {
        position: fixed;
        width: 30%;
    }
}

@media only screen and (min-width: 1024px) {
    .show-dekstop {
        display: block;
        margin: 0 auto 13% auto;

    }

    .hide-dekstop {
        display: none;
    }

    nav ul {
        position: block;
        width: auto;
        background: none;
        height: auto;
        display: flex;
        padding-top: 0.5em;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        color: black;
        background-color: inherit;
        
    }

    nav ul li a:hover {
        background-color: inherit;
    }
}

