* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.hero {
  width: 100%;
  height: 100%;
  background-position: center;
  position: absolute;
  background-color: rgb(204, 255, 255);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.form-box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 10% auto;
  background-color: white;
  padding: 5px;
  border-radius: 40px 0px 40px 0px;
}
.button-box {
  width: 200px;
  height: 40px;
  margin: 50px auto 5px auto;
  box-shadow: 0 0 15px 5px rgb(123, 232, 252);
  border-radius: 30px;
  position: relative;
  display: flex;
}
.toggle-btn {
  width: 100px;
  padding: 10px 20px 8px 20px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
#btn {
  top: 0;
  right: 0;
  position: absolute;
  width: 110px;
  height: 40px;
  background: linear-gradient(to right, rgb(0, 183, 255), rgb(0, 255, 221));
  border-radius: 30px;
  transition: 0.5s;
}
.input-group1 {
  top: 120px;

  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-field1 {
  width: 100%;
  padding: 0px 0;
  margin-top: 5px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
  transition: 0.8s;
}

.input-field:focus {
  border-width: 2px;
}

.submit-btn {
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin-top: -15px;
  background: linear-gradient(to right, rgb(0, 183, 255), rgb(0, 255, 221));
  border: 0;
  outline: none;
  border-radius: 30px;
}
.submit-btn:hover {
  background: linear-gradient(to right, rgb(0, 110, 255), rgb(0, 195, 255));
}

.form-a {
  text-decoration: none;
  font-size: 15px;
  color: #7f2092;
  display: block;
  margin: 20px 50px 35px 85px;
}
#register {
  left: 50px;
}
#login {
  left: 450px;
}
.check-box {
  margin: 10px 10px 0px 0px;
}
.span {
  color: #777;
  font-size: 12px;
  position: absolute;
}
.prole {
  margin-top: 10px;
  margin-left: 0px;
  font-size: 14px;
  line-height: 1.6em;
}

#rdo2 {
  margin-left: 40px;
}
.warning {
  text-align: left;
  font-size: 10px;
  color: red;
}

p {
  margin-bottom: 0;
}

.inputDiv {
  height: 220px;
  position: relative;
}
